<div class="container mt-20 mb-3">
  <div class="row border rounded">
    <div class="col d-flex flex-row align-items-center justify-content-evenly mt-5">
        <div class="m-2">
            <img width="300" src="https://i.imgur.com/JR6hdEs.png" href="/api/products" alt="Logo Val di Sole">
            <h1>Perfil de usuario</h1>
            <h2>Bienvenido!</h2>
            <p class="mb-0"><strong>Usuario:</strong> {{firstName}}</p>
            <p class="mb-0"><strong>userId:</strong> {{userId}}</p>
            <p class="mb-0"><strong>Email:</strong> {{email}}</p>
            <p class="mb-0"><strong>Role:</strong> {{role}}</p>
            <p class="mb-0"><strong>Creator:</strong> {{creator}}</p>
            <p class="mb-0">*creator: premium o admin</p>
            <p class="mb-0"><strong>Premium:</strong> {{premium}}</p>
            <p class="mb-0"><strong>Admin:</strong> {{admin}}</p>


            <h4>Entrega Final e-commerce</h4>
            <h6>Comisión 51380 Backend CoderHouse</h6>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-start">
            <a href='/api/products' class="btn btn-primary mt-2 mb-3">Ir a los productos</a>        
            <a href='/api/users/{{userId}}/uploadDocument' class="btn btn-primary mt-2 mb-3">Cargar Documento</a>
            {{#if creator }}
                <a href='/api/users' class="btn btn-primary mt-2 mb-3">Eliminar Usuarios inactivos</a>
                <a href='/api/products/render/form?email={{email}}' class="btn btn-primary mt-2 mb-3">Añadir productos a la base de datos</a>
            {{/if}}
            <a href='/auth/administracion' class="btn btn-primary mt-2 mb-3">Ver datos super secretos</a>
            {{#if notAdmin }}
                <a href='/api/users/premium/{{userId}}' class="btn btn-primary mt-2 mb-3">Cambiar Role</a>
            {{/if}}
                <a href='/auth/logout' class="btn btn-danger">Cerrar Sesión</a>
        </div>
    </div>
  </div>
</div>
