<!-- perfil.hbs - Vista de perfil de usuario -->

<h1>Perfil de usuario</h1>
<h2>Bienvenido!</h2>
user: {{firstName}}
<br>
userId: {{userId}}
<br>
email: {{email}}
<br />
isAdmin: {{isAdmin}}
<h4>Esta es la página de Login del ecommers de Coder House</h4>
<br />
<a href='/auth/administracion'>Ver datos super secretos<a>
<br />
<a href='/api/products'>ir a los productos</a>
<br />
{{#if isAdmin}}
{{/if}}
<a href='/api/products/render/form'>añadir productos a la base de datos</a>

<br />
<a href='/auth/logout'>Salir!</a>

<!-- Botón "Cargar Documento" -->
<br />
<a href='/api/users/{{userId}}/uploadDocument' class='btn btn-primary'>Cargar Documento</a>
