<!-- product-detail.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Detalles del Producto</title>
</head>
<body>
  <h1>Detalles del Producto</h1>
  <div>
    <div class="m-auto">
      <img src="{{product.thumbnail}}" class="img-fluid m-auto" alt="imágen principal del producto">
    </div>
    <div>
      <h2>{{product.title}}</h2>
      <p class="mw-450">{{product.description}}</p>
      <p> <strong>Precio: </strong> ${{product.price}}</p>
      <p> <strong>Categoría: </strong> {{product.category}}</p>
      {{!-- <p>ID: {{product._id}}</p> --}}
      <p>Stock Disponible: {{product.stock}} </p>
      <button type="submit" class="btn btn-primary" onclick="addProductToCart('{{product._id}}')">Añadir al carrito</button>
    </div>
  </div>
  <br>
  <a href="/api/products" class="btn btn-primary">Volver</a>
  <br>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/js/product.js"></script>
</body>
</html>
